# Compiler files
cache/
out/
coverage/

# Local/editor metadata
.DS_Store
**/.DS_Store
.vscode/

# Deployment artifacts
/broadcast/
/deploys/history/

# Docs
docs/
audit-packages/
audit-packages/**/*.zip
audit-packages/**/*.txt

# Node
node_modules/

# Dotenv file
.env
